<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

        <link rel="stylesheet" type="text/css" href="/static/css/global.css"/>
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="/static/js/base.js"></script>

        {% block head_options %} {% endblock %}

        <title>Jewellery Hub</title>
    </head>

    <body>
        <header id="header">
            <div id="headerContent">
                <a href="{{ url_for('index') }}" class="headerItem headerLogo headerButton">
                    Jewellery Hub
                </a>
                <div class="spacer"></div>
                <div id="search">
                    <input type="text" id="searchInput" name="search">
                    <div id="searchButton">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </div>
                </div>
                <div class="spacer"></div>
                {% if not user %}
                    <a href="{{ url_for('auth', method='login') }}" class="headerItem headerButton">
                        Увійти
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-login" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"></path>
                            <path d="M20 12h-13l3 -3m0 6l-3 -3"></path>
                        </svg>
                    </a>
                {% else %}
                    <button type="button" id="cartPopupToggle" class="headerItem">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#FFFFFF" viewBox="0 0 16 16">
                            <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                        </svg>
                    </button>
                {% endif %}
            </div>
        </header>

        <div id="content">
            {% block content %} {% endblock %}
        </div>
        
        <div id="popUpContainer">
            {% block popUpContent %} {% endblock %}
        </div>

        <footer id="footer">
            <div id="footerContent">
                <div id="copyright" class="grow unselectable">
                    <p>© 2023 Програмiсята</p>
                </div>
            </div>
        </footer>
    </body>
</html>
